[submodule "d2s-cwl-workflows"]
	path = d2s-cwl-workflows
	url = https://github.com/MaastrichtU-IDS/d2s-cwl-workflows.git
[submodule "d2s-argo-workflows"]
	path = d2s-argo-workflows
	url = https://github.com/MaastrichtU-IDS/d2s-argo-workflows.git
